<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/frontend.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/compose.css">
</head>
<body>
    <header>
        <div class="head">
            <div>
                <i class="fa-solid fa-paper-plane"></i>
                NodeMailer
            </div>
            <div class="links">
                <div class="linksback">
                    <a href="/">Home</a>
                </div>
                <div class="linksback">
                    <a href="/register">Register</a>
                </div>
                <div class="linksback">
                    <a href="/login">Login</a>
                </div>
                <div class="linksback">
                    <a href="/dashboard">Dashboard</a>
                </div>
                <div class="linksback">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
            <%-body%>
    </main>
</body>
</html>