
    <form action="/compose" method="post">
        <div>
            <p class="to">To,
                <input type="text" name="email" class="composeto" placeholder="Sender's email">
            </p>
            <p class="Subject">Subject : 
                <input type="text" name="subject" class="composesubject" placeholder="Enter subject">
            </p>
            <p class="textarea">
                <textarea name="textarea" class="composetextarea"id="composetextarea" placeholder="Compose the mail"></textarea>
            </p>
            <button class ="sentbutton" id="sentbut">Send</button>
       </div>
    </form>