<div class="pagereg">
    <div class="headingreg">
        Register YourSelf!  
    </div>
    <div class="mainreg">
        <form action="/register" method="post" onsubmit="return validateForm()">
            <div class="inputsreg">
                Name : <input type="text" name="name" class="inputtags">
            </div>
            <div class="inputsreg">
                Age : <input type="number" name="age" class="inputtags">
            </div>
            <div class="inputsreg">
                PhoneNo : <input type="tel" name="phone" class="inputtags" pattern="\d{10}" title="Please enter 10 digit phone number">
            </div>
            <div class="inputsreg">
                Email : <input type="email" name="email" required class="inputtags" pattern="[a-zA-Z0-9]+@gmail\.com" title="Please enter a valid Gmail address (e.g., user@gmail.com)">
            </div>
            <div class="inputsreg">
                CreatePassword :<input type="password" id="password" name="password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}" required class="inputtags" title="Please enter a Strong Password (e.g.,Uppercase,Lowercase,Special Character & atleast one digit)">
            </div>
            <div class="inputsreg">
                ConfirmPassword  : <input type="password" id="confirmPassword" name="confirmpassword" required class="inputtags">
            </div>
            <%if(message!==" "){%>
                <div class="invalidyes">
                    <i class="fa-solid fa-xmark"></i>
                    <%=message%>
                </div>
            <%}%>
            <div class="login">
                <button>Create</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/register.js "defer></script>